spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    
server:
  port: ${PORT:8080}
  address:0.0.0.0

jwt:
  secret: ${JWT_SECRET}
